<!-- Portfolio 4 -->
<body>
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body h-center">
							<h2>High speed file downloader</h2>
							<hr class="star-primary">
							<p>
								High speed file downloader with multiple streams writing to a single file.
							</p>
							<img src="portfolio/4-1.png" class="img-responsive img-centered">
							<img src="portfolio/4-2.png" class="img-responsive img-centered">
							<img src="portfolio/4-3.png" class="img-responsive img-centered">
							<ul class="list-inline item-details">
								<li>Date:
									<strong>May 2015</strong>
								</li>
								<li>Service:
									<strong>Desktop Application</strong>
								</li>
								<li>Skills:
									<strong>Java, Javafx, Appache Http Client</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>