<!-- Portfolio 6 -->
<body>
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body h-center">
							<h2>FTP & FTPS server and client</h2>
							<hr class="star-primary">
							<p>
								FTP & FTPS server and client using Apache Mina Javafx.
							</p>
							<img src="portfolio/6-1.png" class="img-responsive img-centered">
							<img src="portfolio/6-2.png" class="img-responsive img-centered">
							<ul class="list-inline item-details">
								<li>Date:
									<strong>August 2015</strong>
								</li>
								<li>Service:
									<strong>Desktop Applications</strong>
								</li>
								<li>Skills:
									<strong>Java, Javafx, Appache Mina, FTP, FTPS</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>