<!-- Portfolio 3 -->
<body>
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body h-center">
							<h2>Future Composites Website</h2>
							<hr class="star-primary">
							<p>
								Developed website for a small buissness representing their brand and services.
								<br>
								<a href="http://www.futurecomposite.com/" target="_blank">www.futurecomposite.com</a>
							</p>
							<img src="portfolio/3.png" class="img-responsive img-centered">
							<ul class="list-inline item-details">
								<li>Client:
									<strong>Future Composites</strong>
								</li>
								<li>Date:
									<strong>October 2015</strong>
								</li>
								<li>Service:
									<strong>Website development</strong>
								</li>
								<li>Skills:
									<strong>Wordpress, Html, Css, Javascript</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>