<!-- Portfolio 5 -->
<body>
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body h-center">
							<h2>Encrypted Messaging App</h2>
							<hr class="star-primary">
							<p>
								Messaging app for sending encrypted message using AES encryption standard.
							</p>
							<img src="portfolio/5.png" class="img-responsive img-centered">
							<ul class="list-inline item-details">
								<li>Date:
									<strong>June 2015</strong>
								</li>
								<li>Service:
									<strong>Android App</strong>
								</li>
								<li>Skills:
									<strong>Java, Android, Encryption, AES</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>