<!-- Portfolio 1 -->
<body>
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body h-center">
							<h2>rSim Desktop Application, Web and Mobile App</h2>
							<hr class="star-primary">
							<p>
								Created applications for all major platforms that simulates rotational motion of body for given initial conditions. Applications show 3d view of rotating body using webgl on web/mobile and native graphics on desktop.
							</p>
							<img src="portfolio/1-desktop.png" class="img-responsive img-centered">
							<img src="portfolio/1-web.png" class="img-responsive img-centered">
							<img src="portfolio/1-mobile.png" class="img-responsive img-centered">
							<ul class="list-inline item-details">
								<li>Client:
									<strong>Mechanarium</strong>
								</li>
								<li>Date:
									<strong>September 2015</strong>
								</li>
								<li>Service:
									<strong>Desktop, Web and Mobile Development</strong>
								</li>
								<li>Skills:
									<strong>Javafx, Ionic, AngularJs, ThreeJs, Webgl</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>